{%extends 'events/base.html'%}
{% load static %}

{%block content%}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'events/styles.css' %}">
</head>
<body>
<center>
<h1>Hello people ! Trips for {{month}} {{year}} </h1><br/>
Over the years, we have grown to be the largest Travel Management Company in North India, with each of its product and service benchmarking the mark of quality. Our Philosophy is to focus on offering a comprehensive and extensive range of services which deliver strategic value, innovative technology and true Travel consulting. With our team of dedicated professional, global network, and state of art technology.
<br/><br/>

<h3>VALUE WE CARRY</h3><br/>
Ethical and professional service<br/>
Integrity of thought and action<br/>
Honouring our commitments to all our clients<br/>
Providing genuine value through our products and services<br/>
Constantly searching for the new on all fronts.<br/><br/>
Copyright(c){{current__year}}
</center>
</body>
{%endblock%}